# .env.example

# Supabase API Keys
# NEXT_PUBLIC_SUPABASE_URL ambil dari Project Settings > API
# NEXT_PUBLIC_SUPABASE_ANON_KEY ambil dari Project Settings > API
# SUPABASE_SERVICE_ROLE_KEY (RAHASIA: Hanya untuk Server-side)
NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# RajaOngkir (Komerce)
RAJAONGKIR_API_KEY=your-rajaongkir-key
RAJAONGKIR_BASE_URL=https://rajaongkir.komerce.id/api/v1
MERCHANT_ORIGIN_DISTRICT_ID=1369

# Midtrans API Keys
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=your-client-key
MIDTRANS_SERVER_KEY=your-server-key

# Site Configuration
NEXT_PUBLIC_SITE_URL=http://localhost:3000
WEBHOOK_SECRET_KEY=your-custom-webhook-secret

# Nodemailer Configuration (Gmail)
# Gunakan "App Password" 16 digit, bukan password email biasa
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password

# Prisma / Database Connection
# DATABASE_URL biasanya menggunakan port 6543 (Transaction Mode / Pooler)
# DIRECT_URL biasanya menggunakan port 5432 (Session Mode)
DATABASE_URL="postgresql://postgres.[REF]:[PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[REF]:[PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"